/* Common Shared Styles */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 18px 35px;
  cursor: pointer;
}

.text-primary {
  color: #fd6e0a;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}
/* HEADER AREA START*/

.header-area {
  background-color: #fff8f3;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Nav releted Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 50px;
}

nav li a {
  color: #474747;
}

.banner {
  padding: 30px 30px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 585px;
}

.banner .profile-pic {
  width: 500px;
}

.banner-greetings {
  font-size: 45px;
  color: #474747;
  margin: 0;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

/* HEADER AREA END */

/* MAIN STYLES*/

/* ABOUT SECTION */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
